@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Montserrat:wght@400;700&display=swap');

body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'AR One Sans', sans-serif;
}