.select-container {
  display: flex;
  flex-direction: row;
  justify-self: space-between;
  label{
    padding: 4% 2%;
  }
  select{
    padding: 4%;
    border-radius: 4px;
    font-family: 'AR One Sans', sans-serif;
  }
}