button {
  font-family: 'AR One Sans', sans-serif;
  padding: 1.5% 2%;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}
.button-primary:hover{
  background-color: rgba(229, 9, 20, 0.5);
}
.button-primary {
  background-color: rgb(229, 9, 20);
  color: white;
}
.button-secondary {
  background-color: white;
  color: black;
}